@import "../../styles/variables";


td {
  &:first-child {
    white-space: nowrap;
  }
}

/* blocks */
.word {
  margin: 0 auto;
  padding: 50px 0;
  background-color: rgba(white, .88);
  &-title {
    font-family: $bold;
    font-size: 18px;
  }
  &-explanation {
    margin-top: 10px;
    font-size: 14px;
  }
}
