@font-face {
  font-family: 'Helvetica';
  src:
  url('/assets/fonts/HelveticaRegular/HelveticaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaBold';
  src:
  url('/assets/fonts/HelveticaBold/HelveticaBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  color: rgb(18, 45, 75);
  font-family: 'Helvetica', Arial, sans-serif;
}

header,
footer {
  background-color: rgb(18, 45, 75);
}
header {
  height: 70px;
}
footer {
  height: 144px;
}
.main {
  background-color: #f6f6f5;
}